* {
  /* box-sizing:border-box; */
  transition-duration: 2s;
}
div{
  float: left;
}

body {
  background: #fff;
}
/* Desktop view */
@media screen and (min-width: 768px){
  body {
    background-color: lightskyblue ;
    width: auto;
  }
}
/* Mobile view */
@media screen and (min-width: 480px) and (max-width: 767px){
  body {
    background-color:teal;
    width: auto;
  } 
}